#highScoresList {
  list-style: none;
  width: 100%;
}

h1{
  font-size: 50px;
}

.high-score {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 16px;
    min-width: 150px;
    max-width: 80%;
    border-radius: 30px;

    backdrop-filter: blur( 7px );
    -webkit-backdrop-filter: blur( 7px );

    text-align: center;
    margin: 10px auto;
    text-decoration: none;
    color: rgba(225, 225, 225, 0.8);
    font-size: 23px;
    background-color: rgba(219, 219, 219, 0.2);
}

